# Vercel
NEXT_PUBLIC_APP_URL=...

# CI/CD
VERCEL_AUTOMATION_BYPASS_SECRET=...
PLAYWRIGHT_EMAIL=...
PLAYWRIGHT_PASSWORD=...

# Supabase
NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=...

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=...

# Prisma
DATABASE_URL=...
DIRECT_URL=...
DB_POOL_MIN=...
DB_POOL_MAX=...

# Redis
REDIS_URL=...
JOB_DOMAIN=...
RQ_WORKER_CLASS=...

# FastAPI
BACKEND_API_URL=...
AI_API_URL=...
TRAINER_API_URL=...
AUTH_TOKEN=...
HF_STREAM_TOKEN=...

# Trained Models
S3_BUCKET_URL=...
S3_BUCKET_REGION=...
MODELS_BUCKET_KEY_ID=...
MODELS_BUCKET_KEY_SECRET=...
MODELS_ARTIFACT_HMAC_KEY=...
